.venv
.Rproj.user
LWSv1.Rproj
*.csv
analysis/R/figures/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# mypy / ruff caches
.mypy_cache/
.ruff_cache/
